robotpy-cscore==2024.2.1.2

# basic CameraServer works without NumPy/OpenCV installed, so only require
# them on a RoboRIO -- for other platforms there are a lot of ways to
# install OpenCV and we shouldn't dictate it
numpy==1.25.2; platform_machine == "roborio"
robotpy-opencv; platform_machine == "roborio"
