robotpy-cscore==2023.1.1.0

# basic CameraServer works without NumPy/OpenCV installed, so only require
# them on a RoboRIO -- for other platforms there are a lot of ways to
# install OpenCV and we shouldn't dictate it
numpy; platform_machine == "armv7l"
robotpy-opencv; platform_machine == "armv7l"