# Explicitly specify each robotpy package so that pip install -U robotpy
# is an easy shortcut to upgrade to the latest version of everything,
# which is always going to be the desired behavior for our users

robotpy-wpiutil<2021.0.0.0,>=2020.3.2.2
pyntcore<2021.0.0.0,>=2020.3.2.2
robotpy-hal<2021.0.0.0,>=2020.3.2.6
wpilib>=2020.3.2.4,<2021.0.0.0

robotpy-wpilib-utilities>=2020.2.0,<2021.0.0.0

pyfrc<2021.0.0.0,>=2020.1.5; platform_machine != "armv7l"