# Explicitly specify each robotpy package so that pip install -U robotpy
# is an easy shortcut to upgrade to the latest version of everything,
# which is always going to be the desired behavior for our users

# We now pin allwpilib based packages so that a specific install of robotpy-meta
# is directly associated with a specific set of wpilib packages
robotpy-wpiutil==2024.2.1.2
robotpy-wpinet==2024.2.1.2
robotpy-wpimath==2024.2.1.2
pyntcore==2024.2.1.2
robotpy-hal==2024.2.1.2
wpilib==2024.2.1.2

robotpy-halsim-gui==2024.2.1.2; platform_machine != "roborio" and platform_machine != "armv7l" and platform_machine != "aarch64"

# These are not pinned
robotpy-wpilib-utilities<2025,>=2024.0.0
robotpy-installer<2025,>=2024.1.3; platform_machine != "roborio" and platform_machine != "armv7l" and platform_machine != "aarch64"
pyfrc<2025,>=2024.0.0; platform_machine != "roborio" and platform_machine != "armv7l" and platform_machine != "aarch64"

robotpy-cli<2025,>=2024.0.0
