---
name: bump

on: [repository_dispatch]

jobs:
  bump:
    if: github.event_name == 'repository_dispatch' && github.event.action == 'tag'
    runs-on: ubuntu-latest
    steps:
    - name: Information
      run: |
        echo "Version update for ${{ github.event.client_payload.package_name }} -> ${{ github.event.client_payload.package_version }} requested"
    - uses: actions/checkout@v2
      with:
        token: ${{ secrets.REPO_ACCESS_TOKEN }}
        fetch-depth: 0
    - uses: actions/setup-python@v2
      with:
        python-version: 3.8

    # To prevent lots of spurious pypi package pushes during upgrades, you can
    # commit a file 'pause_until'. This will only push a new tag once that
    # package has been reached
    - name: Check if paused
      id: check-paused
      shell: bash
      run: |
        if [ -f pause_until ] && [ "$(cat pause_until)" != "${{ github.event.client_payload.package_name }}" ]; then
          rm pause_until
          git config --local user.email "action@github.com"
          git config --local user.name "Github Action"
          git commit -m "Remove paused marker" pause_until
          git push
          echo "::set-output paused=yes"
        else
          echo "::set-output paused=no"
        fi
    
    - name: Bump Requirements
      uses: robotpy/build-actions/bump-requirements@v2022
      with:
        pkgname: ${{ github.event.client_payload.package_name }}
        pkgver: ${{ github.event.client_payload.package_version }}

    - name: Bump Version and push Tag
      uses: anothrNick/github-tag-action@1.38.0
      if: steps.check-paused.paused == 'no'
      env:
        GITHUB_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
        DEFAULT_BUMP: patch
        WITH_V: false
