---
name: bump

on:
  workflow_dispatch:
    inputs:
      package_name:
        description: 'Package to bump'
        required: true
      package_version:
        description: 'Package version'
        required: true

jobs:
  bump:
    runs-on: ubuntu-latest
    env:
      PACKAGE_NAME: ${{ github.event.inputs.package_name }}
      PACKAGE_VERSION: ${{ github.event.inputs.package_version }}

    steps:
    - name: Information
      run: |
        echo "Version update for $PACKAGE_NAME -> $PACKAGE_VERSION requested"
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.REPO_ACCESS_TOKEN }}
        fetch-depth: 0
    - uses: actions/setup-python@v5
      with:
        python-version: "3.9"

    - name: Install script requirements
      shell: bash
      run: |
        python -m pip --disable-pip-version-check install packaging tomlkit

    - name: Bump requirements
      shell: bash
      run: |
        python .github/workflows/bump.py "$PACKAGE_NAME" "$PACKAGE_VERSION" "$(git describe --tags)"

    - name: Commit and push
      shell: bash
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "Github Action"
        git add pyproject.toml
        git commit -m "Bump '$PACKAGE_NAME' dependency to '$PACKAGE_VERSION'"
        git push

    - name: Tag and push
      shell: bash
      run: |
        TAG=$(python .github/workflows/tag.py "$PACKAGE_NAME" "$PACKAGE_VERSION" "$(git describe --tags --no-abbrev)")
        git tag "${TAG}"
        git push origin "${TAG}"
