---
name: dist

on:
  pull_request:
  push:
    branches:
    - main
    tags:
    - '*'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: psf/black@stable

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - run: pip install build

    - name: Build packages
      run: python -m build

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: dist
        path: dist

  test:
    needs: [build]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2022, macos-15-intel, macos-14, ubuntu-22.04]
        python_version:
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python_version }}

    - name: Download build artifacts
      uses: actions/download-artifact@v4
      with:
        name: dist
        path: dist

    - name: Show installed packages
      shell: bash
      run: |
        python -m pip list

    - name: Install native wheel
      shell: bash
      run: |
        cd dist
        WHEEL=$(ls *.whl)
        python -m pip --disable-pip-version-check install ${WHEEL}[all]

    - name: Show installed packages
      shell: bash
      run: |
        python -m pip list

    # Only need to test that the wheel installs

  docker-test:
    runs-on: ubuntu-22.04-arm
    strategy:
      matrix:
        python_version:
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'
    container: python:${{ matrix.python_version }}-bookworm

    steps:
    - name: Download build artifacts
      uses: actions/download-artifact@v4
      with:
        name: dist
        path: dist

    - name: Show installed packages
      shell: bash
      run: |
        python -m pip list

    - name: Install native wheel
      shell: bash
      working-directory: dist
      run: |
        WHEEL=$(ls *.whl)
        python -m pip --disable-pip-version-check install --extra-index-url=https://wpilib.jfrog.io/artifactory/api/pypi/wpilib-python-release-2026/simple ${WHEEL}[all]

    - name: Show installed packages
      shell: bash
      run: |
        python -m pip list

  cross-test:
    runs-on: ubuntu-latest
    needs: [build]
    strategy:
      matrix:
        os:
        - container: wpilib/roborio-cross-ubuntu:2026-22.04-py314
          name: roborio

        - container: wpilib/raspbian-cross-ubuntu:2026-bookworm-22.04-py311
          name: raspbian-py311
        - container: wpilib/raspbian-cross-ubuntu:2026-bookworm-22.04-py312
          name: raspbian-py312
        - container: wpilib/raspbian-cross-ubuntu:2026-bookworm-22.04-py313
          name: raspbian-py313
        - container: wpilib/raspbian-cross-ubuntu:2026-bookworm-22.04-py314
          name: raspbian-py314

    container:
      image: "${{ matrix.os.container }}"

    steps:
    - uses: actions/checkout@v4
      if: (inputs.enable_raspbian && startsWith(matrix.os.name, 'raspbian')) || (inputs.enable_roborio && matrix.os.name == 'roborio')

    - name: Show installed packages
      shell: bash
      run: |
        /build/venv/bin/cross-python -m pip list

    - uses: actions/download-artifact@v4
      with:
        name: dist
        path: dist/

    - name: Install
      working-directory: dist
      run: |
        WHEEL=$(ls *.whl)
        /build/venv/bin/cross-pip --disable-pip-version-check install ${WHEEL}[all]

    - name: Show installed packages
      shell: bash
      run: |
        /build/venv/bin/cross-python -m pip list

  publish:
    runs-on: ubuntu-latest
    needs: [check, test, docker-test, cross-test]
    permissions:
      id-token: write
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')

    steps:
    - uses: actions/download-artifact@v4
      with:
        name: dist
        path: dist/

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
