---
name: dist

on: [push, pull_request]

jobs:
  check:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - uses: psf/black@stable

  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v4
      with:
        python-version: 3.8

    - run: pip install build

    - name: Build packages
      run: python -m build

    - uses: actions/upload-artifact@v2
      with:
        name: dist
        path: dist

  test:
    runs-on: ubuntu-22.04
    needs: [build]

    steps:
    - uses: actions/setup-python@v4
      with:
        python-version: 3.8

    - uses: actions/download-artifact@v3
      with:
        name: dist
        path: dist/

    - name: Install wheel
      run: pip install dist/*.whl

  publish:
    runs-on: ubuntu-22.04
    needs: [check, test]
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')

    steps:
    - uses: actions/download-artifact@v3
      with:
        name: dist
        path: dist/

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@v1.5.1
      with:
        password: ${{ secrets.pypi_password }}
